<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="hu.pe.xaverius2017.tutorials.step1"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-permission android:name="android.permisson.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permisson.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    
    <supports-screens android:resizeable="true"
                      android:xlargeScreens="true"/>

    <application android:icon="@+drawable/ic_launcher"
		 android:label="Step1">
        <activity android:name="hu.pe.xaverius2017.tutorials.step1.Main"
                  android:label="Step1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
